
.todo_main {
  text-align : center;
  width: 520px;
  margin: auto;
  background-color: #bcf4f5;
  border: 1px solid #00bdb8;

  h1 {
    color : #1f7292;
  }

  .todo_div {
    background-color : #ffffff;
    border-bottom: 1px solid #6fe2d5;
    padding-bottom: 10px;
  
  }
}

.todo_header {
  text-align:center;
  border-bottom: 1px solid #6fe2d5;
  padding-bottom: 10px;
  .add_span {
    margin-left : 10px;
    img {
      vertical-align : middle;
      width : 21px;
      height : 21px;
    }
  }
  .inp {
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 280px;
    
    .label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
      color: #9098a9;
      font-weight: 500;
      transform-origin: 0 0;
      transition: all 0.2s ease;
    }
  
    .border {
      position: absolute;
      bottom: -6px;
      left: 0;
      height: 2px;
      width: 100%;
      background: #07f;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.15s ease;
    }
  
    input {
      -webkit-appearance: none;
      width: 80%;
      border: 0;
      font-family: inherit;
      height: 30px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px solid #c8ccd4;
      background: none;
      border-radius: 0;
      color: #223254;
      transition: all 0.15s ease;
    }
  
    input:hover {
      background: rgba(34,50,84,0.03);
    }
  
    input:not(:placeholder-shown) + span {
      color: #5a667f;
      transform: translateY(-26px) scale(0.75);
    }
  
    input:focus {
      background: none;
      outline: none;
      
      + span {
        color: #07f;
        transform: translateY(-25px) scale(0.75);
  
        + .border {
          transform: scaleX(1);
        }
      }
    }
  }
}

.todo_section {
  display: inline-block;
  width: 86%;
  margin: auto;
  padding-left: 0px;

  .todo_complete {
      .todo_content {
      color : #c7c2c2b2;
      text-decoration: line-through;
    }
  }

  .toggleCheck img {
    width : 20px;
    vertical-align: middle;
    margin-bottom : 1px;
  }

  .todoItem {
    cursor : pointer;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 10px 0px 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
  
    &:hover{
      .todo_delete {
        visibility: visible;
      }
    }

    .todo_content {
      width: 80%;
      border : none;
      display: inline-block;
      height : 24px;
      font-size:11pt;
    }

    .todo_delete {
      visibility: hidden;
      margin-right : 10px;
      float : right;
      img {
        width : 17px;
        height : 17px;
        margin-top : 5px;
      }
    }
  }
}

.todo_footer {
  text-align:center;
  margin-top : 10px;
  padding-bottom : 10px;
}

html,
body {
  height: 100%;
}
body {
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
