
.todo_main {
  text-align : center;
  width: 520px;
  margin: auto;
  background-color: #bcf4f5;
  border: 1px solid #00bdb8;
}

h1 {
  color : #1f7292;
}

.todo_header {
  text-align:center;
  border-bottom: 1px solid #6fe2d5;
  padding-bottom: 10px;
}

.todo_section {
  display: inline-block;
  width: 86%;
  margin: auto;
  padding-left: 0px;
}

.todo_footer {
  text-align:center;
  margin-top : 10px;
  padding-bottom : 10px;
}

.todo_complete .todo_content {
  color : #c7c2c2b2;
  text-decoration: line-through;
}

.todoItem {
  cursor : pointer;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 10px 0px 10px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.todo_delete {
  visibility: hidden;
  margin-right : 10px;
  float : right;
}

.content_input {
  width:80%;
  height:20px;
}

.add_span {
  margin-left : 10px;
}

.todo_header .add_span img {
  vertical-align : middle;
  width : 21px;
  height : 21px;
}
.todo_delete img {
  width : 17px;
  height : 17px;
  margin-top : 5px;
}
.todoItem:hover .todo_delete {
  visibility: visible;
}

.todo_content {
  width: 80%;
  border : none;
  display: inline-block;
  height : 24px;
  font-size:11pt;
}

.todo_div {
  background-color : #ffffff;
  border-bottom: 1px solid #6fe2d5;
  padding-bottom: 10px;

}

.toggleCheck img {
  width : 20px;
  vertical-align: middle;
  margin-bottom : 1px;
}

html,
body {
  height: 100%;
}
body {
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
.inp {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 80%;
  border: 0;
  font-family: inherit;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-28px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
