
.todo_main {
  text-align : center;
}

h1 {
  color : #68b7d6;
}

.todo_header {
  text-align:center;
}

.todo_section {
  display:inline-block;
}

.todo_footer {
  text-align:center;
}

.todo_complete {
  color : #c7c2c2b2;
  text-decoration: line-through;
}

.todoItem {
  cursor : pointer;
}